################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/obj/Debug
/obj/
/bin/
/.vs/
/.vs/ThreeboxSolution/v16
/tests/node_modules
/tests/obj/Debug
/threebox-new.njsproj
/server.js
/ThreeboxSolution.sln
/ThreeboxSolution/
examples/react/node_modules
examples/react/dist/models/粮仓模型/003.png
examples/react/dist/models/粮仓模型/003.obj
examples/react/dist/models/粮仓模型/002.png
examples/react/dist/models/粮仓模型/002.obj
examples/react/dist/models/windmill_a/windmill_a.json
examples/react/dist/models/windmill_a/windmill_a.bin
examples/react/dist/models/windmill_a/textures/material_baseColor.png
examples/react/dist/models/Truck.obj
examples/react/dist/models/Truck.mtl
examples/react/dist/models/tree.png
examples/react/dist/models/Soldier.glb
examples/react/dist/models/radar/wheels_AO.png
examples/react/dist/models/radar/truss_dish_AO.jpg
examples/react/dist/models/radar/truss_2_AO.png
examples/react/dist/models/radar/stairs_plt_AO.png
examples/react/dist/models/radar/frame_AO.png
examples/react/dist/models/radar/base_AO.png
examples/react/dist/models/radar/34M_17.gltf
examples/react/dist/models/radar/34M_17.bin
examples/react/dist/models/LibertyStatue.obj
examples/react/dist/models/LibertyStatue.mtl
examples/react/dist/models/Liberty-PortaBronzo-1.bmp
examples/react/dist/models/Liberty-Pavimentazione-1.bmp
examples/react/dist/models/Liberty-MattoniBasamento-1.bmp
examples/react/dist/models/Liberty-GreenBronze-1.bmp
examples/react/dist/models/Liberty-DecorazioniMarmo-2.bmp
examples/react/dist/models/floor5.DAE
examples/react/dist/models/floor4.DAE
examples/react/dist/models/floor3.DAE
examples/react/dist/models/floor2.DAE
examples/react/dist/models/floor1/SLH20.jpg
examples/react/dist/models/floor1/DB.jpg
examples/react/dist/models/floor1/ct.jpg
examples/react/dist/models/floor1/BLL.jpg
examples/react/dist/models/floor1/BGS002.JPG
examples/react/dist/models/floor1/BDC01.jpg
examples/react/dist/models/floor1/6C3LB004.JPG
examples/react/dist/models/floor1.obj
examples/react/dist/models/floor1.fbx
examples/react/dist/models/floor1.DAE
examples/react/dist/models/f5.DAE
examples/react/dist/models/Eiffel.glb
examples/react/dist/models/building.DAE
examples/react/dist/meta.json
examples/react/dist/mapboxstyle/roadstyle.json
examples/react/dist/mapboxstyle/road.png
examples/react/dist/mapboxstyle/MAP_STYLE_IMAGE.js
examples/react/dist/mapboxstyle/MAP_STYLE.js
examples/react/dist/mapboxstyle/MAP_STYLE.gray.js
examples/react/dist/mapboxstyle/MAP_STYLE.dark.js
examples/react/dist/mapboxstyle/MAP_STYLE.brown.js
examples/react/dist/mapboxstyle/MAP_STYLE.blue.js
examples/react/dist/mapboxstyle/imgstyle.json
examples/react/dist/mapboxstyle/img.png
examples/react/dist/mapboxstyle/dark.png
examples/react/dist/mapboxstyle/dark.json
examples/react/dist/mapboxstyle/bright.png
examples/react/dist/mapboxstyle/bright.json
examples/react/dist/mapbox/threebox.js
examples/react/dist/mapbox/threebox - 副本.js
examples/react/dist/mapbox/svg/mapboxgl-ctrl-zoom-out.svg
examples/react/dist/mapbox/svg/mapboxgl-ctrl-zoom-in.svg
examples/react/dist/mapbox/svg/mapboxgl-ctrl-shrink.svg
examples/react/dist/mapbox/svg/mapboxgl-ctrl-logo.svg
examples/react/dist/mapbox/svg/mapboxgl-ctrl-logo-compact.svg
examples/react/dist/mapbox/svg/mapboxgl-ctrl-geolocate.svg
examples/react/dist/mapbox/svg/mapboxgl-ctrl-geolocate-background.svg
examples/react/dist/mapbox/svg/mapboxgl-ctrl-fullscreen.svg
examples/react/dist/mapbox/svg/mapboxgl-ctrl-compass.svg
examples/react/dist/mapbox/svg/mapboxgl-ctrl-attrib.svg
examples/react/dist/mapbox/sprites_new/sprite@2x.png
examples/react/dist/mapbox/sprites_new/sprite@2x.json
examples/react/dist/mapbox/sprites_new/sprite@2x - 副本.png
examples/react/dist/mapbox/sprites_new/sprite@2x - 副本.json
examples/react/dist/mapbox/sprites_new/sprite.png
examples/react/dist/mapbox/sprites_new/sprite.json
examples/react/dist/mapbox/sprites_new/sprite - 副本.png
examples/react/dist/mapbox/sprites_new/sprite - 副本.json
examples/react/dist/mapbox/sprites_new/creat.js
examples/react/dist/mapbox/sprites/sprite.png
examples/react/dist/mapbox/sprites/sprite.json
examples/react/dist/mapbox/mapbox-gl.js
examples/react/dist/mapbox/mapbox-gl.css
examples/react/dist/mapbox/darksprites/sprite@2x.png
examples/react/dist/mapbox/darksprites/sprite@2x.json
examples/react/dist/mapbox/darksprites/sprite.png
examples/react/dist/mapbox/darksprites/sprite.json
examples/react/dist/logout.jsp
examples/react/dist/index.html
examples/react/dist/images/wall1.png
examples/react/dist/images/wall.png
examples/react/dist/images/road1.png
examples/react/dist/images/red_line2.png
examples/react/dist/images/red_line.png
examples/react/dist/images/popup21617.png
examples/react/dist/images/popup-red02661.png
examples/react/dist/images/popup-red-smalla34ec.png
examples/react/dist/images/popup-bluea0687.png
examples/react/dist/images/mapbg208a4.png
examples/react/dist/images/iconfonta7aaf.eot
examples/react/dist/images/iconfont936d0.eot
examples/react/dist/images/iconfont7dbc9.svg
examples/react/dist/images/iconfont6a189.svg
examples/react/dist/images/iconfont3d226.ttf
examples/react/dist/images/iconfont257af.ttf
examples/react/dist/images/iconfont1373f.woff
examples/react/dist/images/header_bkdc9ec.png
examples/react/dist/images/green_line2.png
examples/react/dist/images/green_line.png
examples/react/dist/images/fullbg30c25.png
examples/react/dist/images/flame.png
examples/react/dist/images/circular.png
examples/react/dist/images/building_top.png
examples/react/dist/images/building2.png
examples/react/dist/images/building2 - 副本.png
examples/react/dist/images/building.png
examples/react/dist/images/blue_line.png
examples/react/dist/font_icon/iconfont.woff2
examples/react/dist/font_icon/iconfont.woff
examples/react/dist/font_icon/iconfont.ttf
examples/react/dist/font_icon/iconfont.svg
examples/react/dist/font_icon/iconfont.json
examples/react/dist/font_icon/iconfont.js
examples/react/dist/font_icon/iconfont.eot
examples/react/dist/font_icon/iconfont.css
examples/react/dist/font_icon/demo_index.html
examples/react/dist/font_icon/demo.css
examples/react/dist/data/zxqpoint.json
examples/react/dist/data/xzq_s.json
examples/react/dist/data/water.json
examples/react/dist/data/sczz.json
examples/react/dist/data/rekou.json
examples/react/dist/data/paiwu.json
examples/react/dist/data/jiangchen.json
examples/react/dist/data/faren.json
examples/react/dist/data/duanmian.json
examples/react/dist/data/cm_indicators.json
examples/react/dist/data/air.json
examples/react/dist/config.js
examples/react/dist/bundle-vendors.js.LICENSE.txt
examples/react/dist/bundle-vendors.js
examples/react/dist/bundle-main.js
examples/react/dist/building_top.png
examples/react/dist/building1.png
examples/react/dist/building.png
